/*rang safe header*/

body{
   background: url("images/nature-gress-wallpaper.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
	font-family:'open Sans' ,sans-serif;
	margin:0;
}

.primary-header{
       text-align:center;
}

.main-heading{
	 color:#f0ff00;
	 font-size:70px;
}

.site-preview{
	 width:650px;
}

   .art {
        color: #000099;
         float: left;
         margin: 10px;
         padding: 10px;
         max-width: 300px;
         height: 300px;
         border: 3px solid red;
         text-align: center;
         background-color:#87CEEB;
 
      }

      .new-art{
         color: #000099;
         float: right;
         margin: 10px;
         padding: 10px;
         max-width: 300px;
         height: 300px;
         border: 3px solid red;
         text-align: center;
         background-color: blue;
}
.color-summary{
	 color:black;
	 font-size:25px;
}


.imager{
	 width:200px;

}


.category-heading{
	color:#32cd32;
	font-size:30px;
}

.store-list{
	color:#FFC122;
	padding-left:15px;
}

.control-name{
        margin-left:10px;
}

.store-link{
	 color:#f0ff00;
	 font-size:20px; 
}

.back-link{
	 color:#f0ff00;
	 font-size:25px; 
}




