/*rang safe header*/

body{
	 background-image:url('images/download (2).jpg') ;
	font-family:'open Sans' ,sans-serif;
	margin:0;
}

.primary-header{
       text-align:center;
}

.main-heading{
	 color:#f0ff00;
	 font-size:70px;
}

.site-preview{
	 width:650px;
}

.color-summary{
	 color:#f0ff00;
	 font-size:25px;
}

.school-section{
	display:flex;

	margin:left;
	width:450px;
}

.imager{
	 width:200px;

}

.school-details{
         
         margin-left:30px;
}

.category-heading{
	color:#ff0808;
	font-size:30px;
}

.store-list{
	color:#FFC122;
	padding-left:15px;
}

.control-name{
        margin-left:10px;
}

.store-link{
	 color:#f0ff00;
	 font-size:20px; 
}

.class-details{
         margin:right;
}

.primary-footer{
       background-color:#FFC122; 
       padding:1px;
       text-align:center;
}

.created-by{
	color:#FFFFFF ;
	font-size:20px;

}